.search-dropdown, .search-dropdown-show {
    position: absolute;
    background: #3D4450;
    left: 830px;
    top: 165px;
    z-index: 20;
    box-shadow: 0 0 12px #000000;
    text-align: left;
    width: 400px;
    max-height: 355px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


.search-result {
    display: flex;
    transition: box-shadow 0.3s, color 0.3s, transform 0.5s;
}
.search-result:hover {
    background-color: #DCDEDF;
    /* transform: scale(1.1); */
}
.name-price-wrap {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f5f5f5;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.search-result:hover > .name-price-wrap {
    color: #000000;
}

.search-img > img {
    width: 120px;
    height: 65px;
    margin: 3px 0px 0px 3px;
    border-radius: 10px;
}