.signup-form-container {
    font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
    padding: 20px;
    background-color: #181a21;
    border-radius: 10px;
    color: #E9E9E9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signup-text-field {
    font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
    grid-template-columns: 1fr min-content;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}
.signup-form-capsule {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 420px;
    width: 400px;
}