.cart-checkout-area-wrap {
    display: flex;
    justify-content: center;
}
.cart-checkout-area {
    background: rgba( 0, 0, 0, 0.2 );
    width: 940px;
    border-radius: 5px;
    box-shadow: 0px 0 10px 0px #000;
    margin-top: 30px;
}
.checkout-span {
    color: #c6d4df;
    font-size: 14px;
    font-weight: 400;
    font-family: "Motiva Sans", Sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.cart-estimated-holder {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    color: #c7d5e0;
    font-weight: bold;
}
.cart-checkout-buttons-capsule {
    text-align: right;
    padding-top: 15px;
}

.cart-checkout-buttons {
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #D2E885;
    background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
    font-family: "Motiva Sans", Sans-serif;
    margin-right: 16px;
    margin-bottom: 8px;
    transition: all 0.3s;
}
.cart-checkout-buttons:hover {
    color: #ffffff;
    background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
}

.continue-shopping-capsule {
    display: flex;
    justify-content: center;
}
.continue-shopping-wrap {
    width: 940px;
    margin: 15px 0 10px 0px;
}
.continue-shopping {
    border-radius: 5px;
    border: none;
    padding: 1px;
    cursor: pointer;
    text-decoration: none;
    color: #67c1f5;
    background: rgba( 103, 193, 245, 0.2 );
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 400;
    padding: 8px 15px;
    font-size: 15px;
    line-height: 30px;
    transition: all 0.3s;
}
.continue-shopping:hover {
    color: #fff !important;
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}