.wrap {
    display: flex;
    justify-content: center;
}
.torque-capsule {
    margin-top: 30px;
    width: 940px;
    height: 560px;
    overflow: hidden;
    
}

#scaled-frame {
    width: 1070px;
    height: 616px;
    border: 0px;
    zoom: 1.2;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    
}

.summer-spotlight-img {
    background: url(../../resources/sumspot.jpeg);
    width: 940px;
    height: 150px;
    margin-top: 70px;
    cursor: pointer;
    box-shadow: 0px 0 20px 0px #000;
    transition: all 0.5s;
    border-radius: 5px;
}
.summer-spotlight-img:hover {
    
    animation-name: glow-pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes glow-pulse {
    0% {
      transform: scale(1);
      box-shadow: 0px 0 20px 0px #000;
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 0 20px#66c0f4;
    }
    100% {
      transform: scale(1);
      box-shadow: 0px 0 20px 0px #000;
    }
}

.grid-item-capsule {
    margin-bottom: 10px;
    box-shadow: 0px 0 20px 0px #000;
    background: #1c2735;
    color: #c6d4df;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    border-radius: 10px;
}
.grid-item-capsule:hover {
    box-shadow: 0 0 20px #66c0f4;
    transform: scale(1.1);
    background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
    color: #000;
}
.grid-item-capsule:active {
    transform: scale(0.7);
}

.grid-holder {
    margin: 10px 0px 0px 0px;
    width: 830px;
}
.grid-item-img > img {
    width: 200px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.grid-item-img {
    display: flex;
    flex-direction: row;
}
.grid-header {
    margin-top: 50px;
}

.grid-item-title {
    font-size: 18px;
    margin: 10px 0px 0px 10px;
}
.grid-item-info {
    font-size: 10px;
    max-width: 410px;
    margin: 15px 0px 0px 10px;
}
.grid-item-price {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
}