.placeholder {
    height: 30px;
}

.footer-wrap {
    position: relative;
    top: auto;
    bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 0 40px 0;
    margin: 0;
    background: #171a21;
}

.footer-content {
    width: 640px;
    margin: 0px auto;
    padding-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.border-helper {
    height: 8px;
    border-top: 1px solid #363c44;
}

.footer-text {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 8px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-logo {
    display: inline-block;
}

.footer-logo {
    margin-left: 55px;
    cursor: pointer;
}


.footer-links {
    margin-top: 8px;
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #C6D4DF;
    padding-left: 10px;
}
.footer-links > a {
    padding-left: 5px;
    padding-right: 5px;
}
.footer-links > a:hover {
    color: #ffffff;
    
}