.show-slider-img {
    height: 225px;
    width: 400px;
}

.show-carousel-content {
    position: relative;
    width: 640px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
}

.show-header-img {
    width: 230px;
    height: 100px;
}

.show-content-wrap {
    display: flex;
}

.info-holder {
    margin-left: 10px;
    z-index: 2;
    height: 300px;
    max-height: 300px;
}

.show-game-description {
    font-size: 10px;
    line-height: 12px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    margin: 7px 0px 7px 0px;
}

.release-date, .developer, .publisher {
    font-family: Arial, Helvetica, sans-serif;
    color: #556772;
    font-size: 8px;
    display: flex;
    text-transform: uppercase;
}
.developer {
    margin-top: 15px;
}
.publisher {
    margin-top: 5px;
}

.show-date {
    color: #8f98a0;
    margin-left: 20px;
    text-transform: none;
}

.show-developer, .show-publisher {
    color: #67c1f5;
    margin-left: 31px;
    text-decoration: none;
    cursor: pointer;
}
.show-developer:hover, .show-publisher:hover {
    color: #ffffff;
}

.show-publisher {
    margin-left: 34.5px;
}

.show-tags {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #556772;
    margin-top: 30px;
}
.show-tags-data {
    display: flex;
    justify-content: baseline;
}
.show-tags-links {
    color: #67c1f5;
    padding: 1px 6px;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 6px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba( 103, 193, 245, 0.2 );
}
.show-tags-links:hover {
    color: #ffffff;
    background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
}
/* ============================ thumbnails img rules ============================ */

.thumbnail-carousel {
    width: 400px;
    overflow-x: auto;
    white-space: nowrap;
}
.thumbnail-carousel img {
    width: 90px;
    height: 50px;
    object-fit: cover;
    margin: 3px 3px 3px 3px;
    opacity: 0.5;
}

.thumbnail-carousel-container {
    position: absolute;
    top: 275px;
}

.thumbnail-carousel img:hover {
    transform: scale(1.1);
    opacity: 1;
    border: 1px solid #8f98a0;
}