.show-slider-img {
    width: 600px;
    height: 350px;
    /* object-fit: cover; */
}

.show-carousel-content {
    position: relative;
    width: 940px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
}

.show-header-img {
    width: 325px;
    height: 170px;
    object-fit: cover;
}

.show-content-wrap {
    display: flex;
}

.info-holder {
    margin-left: 15px;
    z-index: 2;
    height: 422px;
    max-height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-game-description {
    font-size: 13px;
    line-height: 12px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    margin: 7px 0px 7px 0px;
}

.release-date, .developer, .publisher {
    font-family: Arial, Helvetica, sans-serif;
    color: #556772;
    font-size: 12px;
    display: flex;
    text-transform: uppercase;
}
.developer {
    margin-top: 15px;
}
.publisher {
    margin-top: 5px;
}

.show-date {
    color: #8f98a0;
    margin-left: 21px;
    text-transform: none;
}

.show-developer, .show-publisher {
    color: #67c1f5;
    margin-left: 37px;
    text-decoration: none;
    transition: box-shadow 0.3s, color 0.5s, transform 0.5s;
}

.show-publisher {
    margin-left: 42.5px;
}

.show-tags {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #556772;
    margin-top: 30px;
}
.show-tags-data {
    display: flex;
    justify-content: baseline;
}
.show-tags-links {
    color: #67c1f5;
    line-height: 19px;
    padding: 1px 6px;
    margin-right: 2px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 6px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba( 103, 193, 245, 0.2 );
    transition: color 0.5s, transform 0.5s;
}
.show-tags-links:hover {
    color: #ffffff;
    background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
}
/* ============================ thumbnails img rules ============================ */

.thumbnail-carousel {
    width: 605px;
    overflow-x: auto;
    white-space: nowrap;
    overscroll-behavior: contain;
    cursor: pointer;
}
.thumbnail-carousel img {
    width: 115px;
    height: 65px;
    object-fit: cover;
    margin: 3px 3px 3px 3px;
    opacity: 0.5;
    transition: color 0.5s, transform 0.5s;
    object-fit: cover;
}

.thumbnail-carousel-container {
    position: absolute;
    top: 418px;
    left: 28px;
}

.thumbnail-carousel img:hover {
    transform: scale(1.1);
    opacity: 1;
}