/* ============================ under slider ============================ */

.invite-capsule {
    display: flex;
    justify-content: center;
    
}
.invite-capsule > p {
    width: 630px;
    /* background-color: #212d42; */
    background-color: rgba( 103, 193, 245, 0.2 );
    border: #417a9b;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #969696;
    font-size: 10px;
    padding: 5px 0px;
    padding-left: 10px;
}

.login-invite-link {
    color: #ffffff;
    cursor: pointer;
}
.login-invite-link:hover {
    color: #66c0f4;
}