/* ============================ under slider ============================ */

.invite-capsule {
    display: flex;
    justify-content: center;
    
}
.invite-capsule > div {
    width: 940px;
    /* background-color: #212d42; */
    background-color: rgba( 103, 193, 245, 0.2 );
    border: #417a9b;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #969696;
    font-size: 15px;
    padding: 7px 0px;
    padding-left: 10px;
}

.login-invite-link {
    color: #ffffff;
    cursor: pointer;
}
.login-invite-link:hover {
    color: #66c0f4;
}

/* ========================= Slider header content ========================= */

/* .slider-header-wrap {

} */

.title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.show-game-title {
    font-family: "Motiva Sans", Sans-serif;
    color: white;
    font-size: 26px;
    line-height: 32px;
    text-overflow: ellipsis;
}
.community-hub {
    padding: 5px 15px;
    font-size: 15px;
    line-height: 30px;
    color: #67c1f5;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
    background: rgba( 103, 193, 245, 0.2 );
}
.community-hub:hover {
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
    color: #fff;
    text-decoration: none;
}

.slide-header-links {
    font-size: 12px;
    color: #56707f;
    font-family: "Motiva Sans", Sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
}
.slide-header-links > a:hover {
    color: #ffffff;
}