/* .slider-header-wrap {

} */

.title-wrap {
    display: flex;
    justify-content: space-between;
}
.show-game-title {
    font-family: "Motiva Sans", Sans-serif;
    color: white;
    font-size: 20px;
}
.community-hub {
    padding: 5px 15px 5px 15px;
    font-size: 10px;
    line-height: 30px;
    color: #67c1f5;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
    background: rgba( 103, 193, 245, 0.2 );
}
.community-hub:hover {
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
    color: #fff;
    text-decoration: none;
}

.slide-header-links {
    font-size: 9px;
    color: #56707f;
    font-family: "Motiva Sans", Sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
}
.slide-header-links > a:hover {
    color: #ffffff;
}